body {
    font-family: "Oswald", sans-serif;
    background-color: #D7D7D7;
}

.container {
    width: 100%;
    height: 90hv;
    margin: 0 auto;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.title-line {

    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #FF7F3E;
    font-size: 1.5rem;
}

.slogan {
    margin: 0 auto;
    padding: 0;
}

.real-time {
    margin: 0 auto;
    font-size: 1.2rem;
    color: #FF7F3E;
    font-weight: 400;
}

.tagline {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.today {
    color: #003285;
}

.uv-guardian {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #003285;
}

.logo {
    margin-top: .8rem;
    padding-top: .8rem;
    width: 4.5rem;
    height: 4.5rem;
}



.main {
    width: 80%;
    height: 55vh;
    margin: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.item-uv {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    align-items: center;
    min-width: 400px;
}

.item-ozone,
.item-sky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-advice {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.sub-titles {
    font-size: larger;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #2A629A;
}

.times {
    font-size: .8rem;
    margin: 0;
    padding: 0;
    color: #FF7F3E;
}

#uv-index-time {
    margin-bottom: 0;
}

#uv-index {
    font-size: 10rem;
    padding: 0 2.5rem;
    margin: 0 auto;
}

#uv-level {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #3D74B6;
}

#uv-max {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#max-uv-subtitle {
    margin-top: 1rem;
}

#ozone {
    margin: 0 0;
    padding: 0;
    font-size: 5rem;
}

.ozone-message {
    color: #3D74B6;
    font-size: 1.5rem;
    margin: 0;
}

#sky {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    color: #3D74B6;
    font-size: 1.5rem;
}

#weather-icon {
    width: 5.5rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#advice-subtitle {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

img {
    width: 40px;
    height: 40px;
}

.how-to-protect {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

footer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-size: 0.7rem;
}


.image-credit {
    color: #777;
    display: flex;
}

.values {
    color: #003285;
}

.item-uv,
.item-ozone,
.item-sky,
.item-advice {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.uv-low {
    color: #337357;
}

.uv-medium {
    color: #FFAD60;
}

.uv-high {
    color: #E14434;
}

.uv-very-high {
    color: #A02334;
}

.uv-extreme {
    color: #5E1675;
}

@media (min-width: 1201px) {
    .item-uv {
        justify-content: center;
    }
}

@media (max-width: 1200px) {

    .main {
        width: 70%;
        height: auto;
        margin: auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sub-titles {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: #2A629A;
    }

    .times {
        font-size: 1rem;
    }

    .item-ozone,
    .item-sky,
    .item-advice {
        height: 250px;
    }

}

@media (max-width: 900px) {

    .item-ozone,
    .item-sky,
    .item-advice,
    .item-uv {
        min-width: 400px;
        height: 250px;
    }

}